.close-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 0px;
}
.close-button:hover{
    -fx-background-color: red;
}
.login-form{
    -fx-background-color: #3edad8;
}
.login-button{
    -fx-background-color: #d2f4fb;
    -fx-cursor: hand;
    -fx-text-fill: #000;
    -fx-font-size: 16px;
    -fx-alignment: CENTER;
    -fx-background-radius: 0px;
}
.login-button:hover{
    -fx-background-color: #3a737a;
}
.register-form{
    -fx-background-color: #3edad8;
}
.hbox-element{
    -fx-background-color: #fff;
}
.filter-box{
    -fx-background-color: #3edad8;
    -fx-background-radius: 10px;
}
.hbox-form{
    -fx-background-color: #eee;
    -fx-border-color: #000;
    -fx-border-width: 0px 0px 1.5px 0px;
}
.hbox-form:hover{
    -fx-background-color: #ddd;
}
.field-form{
    -fx-border-width: 0px 0px 1px 0px;
    -fx-background-color: transparent;
    -fx-border-color: #000;
    -fx-text-fill: #000;
}