.main-button{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}
.main-button:hover{
    -fx-background-color: #ddd;
    -fx-background-radius: 0px;    
}
.menu-button{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}
.menu-button:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #000;
}
.menu-button:focused{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-width: 0px 0px 2.5px 0px;
    -fx-border-color: #1aba51;
}
.main-box{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: #000;
}
.content-area{
    -fx-background-radius: 5px;
    -fx-font-family: Arial;
    -fx-font-size: 18px;
}
.close-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 0px;
}
.close-button:hover{
    -fx-background-color: red;
}
.extra-left-form{
    -fx-background-color: #3edad8;
}
.extra-left-form-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: #000;
    -fx-font-size: 16px;
    -fx-alignment: CENTER_LEFT;
}
.extra-left-form-button:hover{
    -fx-background-color: #1a91b8;
}
.extra-right-form{
    -fx-background-color: #eee;
    -fx-background-radius: 20px;    
}
.extra-field-form{
    -fx-border-width: 0px 0px 1px 0px;
    -fx-background-color: transparent;
    -fx-border-color: #000;
    -fx-text-fill: #000;
}
.extra-scene-button{
    -fx-background-color: #ddd;
    -fx-cursor: hand;
    -fx-text-fill: #000;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
    -fx-background-radius: 0px;   
    -fx-border-color: #000;
    -fx-border-width: 1px 1px 1px 1px;
}
.extra-scene-button:hover{
    -fx-background-color: #ccc;
}
.top-form{
    -fx-background-color: #fff;
}